* {
  margin: 0;
  padding: 0;
  color: #2B3A55;
}

h1 {
font-family: 'Reenie Beanie', cursive;
}

h2, h3, p {
font-family: 'Raleway', sans-serif;
}

p {
  color: #5F6F94;
}



hr {
  border-style:none;
  border-color: grey;
  padding-bottom: 5%;
}

.text-box {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 100px;
}

.text-box h2 {
  font-size: 50px;
}

.header {
min-height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.4)), url(img/background.jpg);
background-position: center;
background-size: cover;
position: relative;
}

.navbar-brand img {
  height: 110px;
}

@media screen and (min-width:992px) {
  .navbar .container-fluid {
  flex-direction: column;
  }
}

.navbar .navbar-nav .nav-link {
  color: #000000;
  font-size: 1.1em;
}

.navbar .navbar-nav .nav-item {
  padding: .5em 1em;
}

.navbar .navbar-nav {
margin-top: .5em;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
  padding: 0 !important;
  color: #000000;
}

.navbar-toggler .fa {
font-size: 40px;
cursor: pointer;
}

#about-us {
  padding: 5% 20%;
  background-color: #FEFCF3;
}

#about-us p {
font-size: 17px;
padding-top: 5px;
}

.doggo-picture {
width: 250px;
}

.my-image {
  float: left;
  margin-right: 30px;
}

#service {
  background-color: #FEFCF3;
  padding: 5% 10% 0 10%;
  text-align: center;
}

.rows {
display: inline-block;
vertical-align: top;
width: 24%;
}

.services-pictures {
  padding: 9% 3% 9% 3%;
  width: 250px;
}

#our-work {
  padding: 5% 10%;
  text-align: center;
  background-color: #FEFCF3;
}

#our-work img {
  object-fit: cover;
width: 300px;
height: 300px;
padding: 10px 30px;
}

.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Raleway', sans-serif;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.button-space {
  padding-top: 3%;
}

.quote {
  text-align: center;
  background-color: #F5EBE0;
  margin: 0;
  padding: 3%;
}

.quote h1 {
  font-size: 35px;
}

#footer {
  text-align: center;
  background-color: #FEFCF3;
  padding: 3%;
}

.icon {
  padding: 5px;
}

.copyright {
padding: 2%;
}
